{{ partial "head.html" . }}
{{ partial "header.html" . }}

<section id=content>
	<section id=widebody>
		{{.Content}}

		<!-- Display Current Path -->
		<h5>Current Path: </h5>
		<div id="pathLabel">
			<a onclick="redirectFromPathLabel('')">dy_mainfile/</a>
		</div>
		
		<!-- Repo Content -->
		<h5>Content: </h5>
		<div id="repoContent"></div>
		
		<h5>Options:</h5>	
		<!-- Form to upload files -->
		<form>
			<input type="button" value="Upload to folder" onclick="uploadToCurrPath()">
		</form>	
		<div id="optionNotes"></div>	
	</section>
</section>
{{ partial "footer.html" . }}