{{ partial "head.html" . }}
{{ partial "header.html" . }}

<section id=content>
	<section id=widebody>
		{{.Content}}

		<!-- Display Current Path -->
		<h5>Current Path: </h5>
		<div id="pathLabel">
			<a onclick="redirectFromPathLabel('')">dy_mainfile/</a>
		</div>
		
		<br>
		
		<!-- Repo Content -->
		<h5>Content: </h5>
		<div id="repoContent"></div>
		
		<br>
		
		<!-- Options -->
		<h5>Current Directory Options:</h5>	
		<!-- Form to upload files -->
		<a onclick="uploadToCurrPath('')">Upload</a>
		<br>
		<!-- Button to download the current directory -->
		<div id="dirDownloadCotainer">
			<a onclick="dirFetchDownload('')">Download Directory</a>
		</div>
		<!-- iFrame to help with downloading directories -->
		<iframe name="dirDownloadFrame" height="0"></iframe>
		<!-- Option notes -->
		<div id="optionNotes"></div>	
	</section>
</section>
{{ partial "footer.html" . }}