[submodule "public"]
	path = public
	url = https://github.com/dyagan/dyagan.github.io.git
	branch = master
[submodule "public"]
	path = public
	url = https://github.com/dyagan/dyagan.github.io.git
	branch = master
