{{ partial "head.html" . }}
{{ partial "header.html" . }}

<section id=content>
{{ range sort .Site.Data.projects.press "weight" "asc"}}
	<h5>{{ .section }}</h5>

	<table width="100%">
		<thead>
			<tr>
				<th style="text-align: center;" width="15%"></th>
				<th style="text-align: left;" width="85%"></th>
			</tr>
		</thead>

		{{ range .articles }}
		<tbody>
			<tr style="height: 45px">
				<td style="vertical-align: middle;">
					<img style="display: block; max-width: 80% !important; max-height: 25px !important; width: auto; height: auto; margin: 0 auto 0 auto;" src="/assets/press/{{ .site }}.png" alt="" border="0">
				</td>
				<td style="vertical-align: middle; color: black; margin: 10px; text-align: left; padding:2.5px; min-height: 100px;">
						<a href="{{ .link }}" target="_blank">"{{ .article }}"</a> {{ if .author}} by {{.author}}{{ end }}
				</td>
				<td>
				</td>
			</tr>
		</tbody>
		{{ end }}
	</table>
	<p><br></p>
{{ end }}
</section>

{{ partial "footer.html" . }}