{{ partial "head.html" . }}
{{ partial "header.html" . }}

<section id=content>

<!-- Google Scholar -->
<h5 style="border-bottom: none;"><a href="https://scholar.google.com/citations?user=rCRCGw0AAAAJ&hl=en" target="_blank">Google Scholar profile</a></h5>
<br>

<!-- WORKING -->
<h5>Working Papers</h5>
<!-- Should be able to replace with where clause but getting error -->

<div class="hanging">
{{ range sort .Site.Data.projects "weight" "desc" }}
	{{ if .working }}
		<p>
		{{ if .pdf }} <a href="{{ .pdf }}" target="_blank">{{ end }}{{ .title }}{{ if .pdf }}</a>{{ end }}<br>
		{{ if .coauthors }} (with {{ .coauthors }}) <br>{{ end }}
		{{ if .publication }} {{ .publication }} <br>{{ end }}
		{{ if .revision }} {{ .revision }} <span id="journal">{{ .journal }}</span>. <br>{{ end }}
		{{ if .comments }} {{ .comments }} <br>{{ end }}
		{{ if .see_also }} 
			See also: 
			{{ range .see_also }}
				<span id="see-also"><a href="{{ .link }}" target="_blank">{{ .text }}</a></span>
			{{ end }}
		{{ end }}
		{{ if .policy_brief }} 
			Policy brief:
			{{ range .policy_brief }}
				<span id="policy_brief"><a href="{{ .link }}" target="_blank">{{ .text }}</a></span>
			{{ end }}
		{{ end }}
		</p>
	{{ end }}
{{ end }}
</div>

<!-- PUBLICATIONS -->
<br>
<h5>Publications</h5>

<div class="hanging">
{{ range sort .Site.Data.projects "weight" "desc" }}
	{{ if .published }}
		<p>
		<a href="{{ .pdf }}" target="_blank">{{ .title }}</a><br>
		{{ if .coauthors }} (with {{ .coauthors }}) <br>{{ end }}
		{{ if .publication }} <span id="journal">{{ .journal }}</span>{{if .year}} {{ .year }}, {{ end }}{{ .publication }}. <br>
		{{ end }}
		{{ if .comments }} {{ .comments }} <br>{{ end }}

        {{ if .policy_brief }} 
			Policy brief on Gingrich-Edwards loophole: 
			{{ range .policy_brief }}
				<span id="policy_brief"><a href="{{ .link }}" target="_blank">{{ .text }}</a></span>
			{{ end }}
		{{ end }}

		{{ if .see_also }} 
			See also: 
			{{ range .see_also }}
				<span id="see-also"><a href="{{ .link }}" target="_blank">{{ .text }}</a></span>
			{{ end }}
		{{ end }}
		</p>
	{{ end }}
{{ end }}
</div>

<!-- RESTING -->
<br>
<h5>Resting Papers</h5>

<div class="hanging">
{{ range sort .Site.Data.projects "weight" "desc" }}
	{{ if .resting }}
		<p>
		<a href="{{ .pdf }}" target="_blank">{{ .title }}</a><br>
		{{ if .coauthors }} (with {{ .coauthors }}) <br>{{ end }}
		{{ if .publication }} {{ .publication }} <br>{{ end }}
		{{ if .comments }} {{ .comments }} <br>{{ end }}
		{{ if .see_also }} 
			See also: 
			{{ range .see_also }}
				<span id="see-also"><a href="{{ .link }}" target="_blank">{{ .text }}</a></span>
			{{ end }}
		{{ end }}
		</p>
	{{ end }}
{{ end }}
</div>

<!-- RELIC(S) -->
<br>
<h5>Relic From a Former Life</h5>

<div class="hanging">
{{ range sort .Site.Data.projects "weight" "desc" }}
	{{ if .relic }}
		<p>
		<a href="{{ .pdf }}" target="_blank">{{ .title }}</a><br>
		{{ if .coauthors }} (with {{ .coauthors }}) <br>{{ end }}
		{{ if .publication }} <span id="journal">{{ .journal }}</span> {{ .year }}, {{ .publication }}. <br>{{ end }}
		{{ if .comments }} {{ .comments }} <br>{{ end }}
		{{ if .see_also }} 
			See also: 
			{{ range .see_also }}
				<span id="see-also"><a href="{{ .link }}" target="_blank">{{ .text }}</a></span>
			{{ end }}
		{{ end }}
		</p>
	{{ end }}
{{ end }}
</div>


</section>
{{ partial "footer.html" . }}
