{{ partial "head.html" . }}
{{ partial "header.html" . }}

<section id=content>
<!-- WORKING -->
<h5>Working Papers</h5>
<!-- Should be able to replace with where clause but getting error -->

<div class="hanging">
{{ range sort .Site.Data.projects "weight" "desc" }}
	{{ if .working }}
		<p>
		<a href="{{ .pdf }}" target="_blank">{{ .title }}</a><br>
		{{ if .coauthors }} (with {{ .coauthors }}) <br>{{ end }}
		{{ if .publication }} {{ .publication }} <br>{{ end }}
		{{ if .revision }} {{ .revision }} <span id="journal">{{ .journal }}</span>. <br>{{ end }}
		{{ if .comments }} {{ .comments }} <br>{{ end }}
		{{ if .see_also }} 
			See also: 
			{{ range .see_also }}
				<span id="see-also"><a href="{{ .link }}" target="_blank">{{ .text }}</a></span>
			{{ end }}
		{{ end }}
		</p>
	{{ end }}
{{ end }}
</div>

<!-- PUBLICATIONS -->
<br>
<h5>Publications</h5>

<div class="hanging">
{{ range sort .Site.Data.projects "weight" "desc" }}
	{{ if .published }}
		<p>
		<a href="{{ .pdf }}" target="_blank">{{ .title }}</a><br>
		{{ if .coauthors }} (with {{ .coauthors }}) <br>{{ end }}
		{{ if .publication }} <span id="journal">{{ .journal }}</span> {{ .year }}, {{ .publication }}. <br>{{ end }}
		{{ if .comments }} {{ .comments }} <br>{{ end }}
		{{ if .see_also }} 
			See also: 
			{{ range .see_also }}
				<span id="see-also"><a href="{{ .link }}" target="_blank">{{ .text }}</a></span>
			{{ end }}
		{{ end }}
		</p>
	{{ end }}
{{ end }}
</div>

<!-- RESTING -->
<br>
<h5>Resting Papers</h5>

<div class="hanging">
{{ range sort .Site.Data.projects "weight" "desc" }}
	{{ if .resting }}
		<p>
		<a href="{{ .pdf }}" target="_blank">{{ .title }}</a><br>
		{{ if .coauthors }} (with {{ .coauthors }}) <br>{{ end }}
		{{ if .publication }} {{ .publication }} <br>{{ end }}
		{{ if .comments }} {{ .comments }} <br>{{ end }}
		{{ if .see_also }} 
			See also: 
			{{ range .see_also }}
				<span id="see-also"><a href="{{ .link }}" target="_blank">{{ .text }}</a></span>
			{{ end }}
		{{ end }}
		</p>
	{{ end }}
{{ end }}
</div>

<!-- RELIC(S) -->
<br>
<h5>Relic From a Former Life</h5>

<div class="hanging">
{{ range sort .Site.Data.projects "weight" "desc" }}
	{{ if .relic }}
		<p>
		<a href="{{ .pdf }}" target="_blank">{{ .title }}</a><br>
		{{ if .coauthors }} (with {{ .coauthors }}) <br>{{ end }}
		{{ if .publication }} <span id="journal">{{ .journal }}</span> {{ .year }}, {{ .publication }}. <br>{{ end }}
		{{ if .comments }} {{ .comments }} <br>{{ end }}
		{{ if .see_also }} 
			See also: 
			{{ range .see_also }}
				<span id="see-also"><a href="{{ .link }}" target="_blank">{{ .text }}</a></span>
			{{ end }}
		{{ end }}
		</p>
	{{ end }}
{{ end }}
</div>


<!-- Google Scholar -->
<h5 style="border-bottom: none;"><a href="https://scholar.google.com/citations?user=rCRCGw0AAAAJ&hl=en" target="_blank">Google Scholar</a></h5>

</section>
{{ partial "footer.html" . }}