{{ partial "head.html" . }}
{{ partial "header.html" . }}
<section id=content>
<!-- WORKING -->
<h3>Working Papers</h3>
<!-- Should be able to replace with where clause but getting error -->

<div class="hanging">
{{ range .Site.Data.projects }}
	{{ if .working }}
		<p>
		<a href="{{ .pdf }}" target="_blank">{{ .title }}</a><br>
		{{ if .coauthors }} (with {{ .coauthors }}) <br>{{ end }}
		{{ if .publication }} {{ .publication }} <br>{{ end }}
		{{ if .comments }} {{ .comments }} <br>{{ end }}
		{{ if .see_also }} 
			See also: 
			{{ range .see_also }}
				<a href="{{ .link }}" target="_blank">{{ .text }}</a>
			{{ end }}
		{{ end }}
		</p>
	{{ end }}
{{ end }}
</div>

<!-- PUBLICATIONS -->
<br>
<h3>Publications</h3>

<div class="hanging">
{{ range .Site.Data.projects }}
	{{ if .published }}
		<p>
		<a href="{{ .pdf }}" target="_blank">{{ .title }}</a><br>
		{{ if .coauthors }} (with {{ .coauthors }}) <br>{{ end }}
		{{ if .publication }} {{ .publication }} <br>{{ end }}
		{{ if .comments }} {{ .comments }} <br>{{ end }}
		{{ if .see_also }} 
			See also: 
			{{ range .see_also }}
				<a href="{{ .link }}" target="_blank">{{ .text }}</a>
			{{ end }}
		{{ end }}
		</p>
	{{ end }}
{{ end }}
</div>

<!-- RESTING -->
<br>
<h3>Resting Papers</h3>

<div class="hanging">
{{ range .Site.Data.projects }}
	{{ if .resting }}
		<p>
		<a href="{{ .pdf }}" target="_blank">{{ .title }}</a><br>
		{{ if .coauthors }} (with {{ .coauthors }}) <br>{{ end }}
		{{ if .publication }} {{ .publication }} <br>{{ end }}
		{{ if .comments }} {{ .comments }} <br>{{ end }}
		{{ if .see_also }} 
			See also: 
			{{ range .see_also }}
				<a href="{{ .link }}" target="_blank">{{ .text }}</a>
			{{ end }}
		{{ end }}
		</p>
	{{ end }}
{{ end }}
</div>

<!-- RELIC(S) -->
<br>
<h3>Relic From a Former Life</h3>

<div class="hanging">
{{ range .Site.Data.projects }}
	{{ if .relic }}
		<p>
		<a href="{{ .pdf }}" target="_blank">{{ .title }}</a><br>
		{{ if .coauthors }} (with {{ .coauthors }}) <br>{{ end }}
		{{ if .publication }} {{ .publication }} <br>{{ end }}
		{{ if .comments }} {{ .comments }} <br>{{ end }}
		{{ if .see_also }} 
			See also: 
			{{ range .see_also }}
				<a href="{{ .link }}" target="_blank">{{ .text }}</a>
			{{ end }}
		{{ end }}
		</p>
	{{ end }}
{{ end }}
</div>
</section>
{{ partial "footer.html" . }}